__pycache__/
*.py[cod]

build/
dist/
*.spec
.pytest_cache/

config.json
tracker.db

*.exe
*.zip
*.png
*.jpg
*.jpeg
*.ico

downloads/
site-packages/
python_packages/
ocr/model/*.pth
ocr/tesseract/
ocr/Tesseract-OCR/
ocr/torch_cache/

.venv/
venv/
.env
